.trailer__box{
  display: flex;
}
.trailer__img{
  width: 100%;
}
.trailer__name{
  font-size: 45px;
width: 209px;
  height: 57px;
}
.trailer__share{
width: 179px;
  height: 17px;
  margin-left: 55px;
  margin-top: 17px;
}
.trailer__mark{
  margin-left: 700px;
  width: 125px;
  height: 85px;
}

.trailer__bottom{
  display: flex;
  margin-top: 30px;
}