.expecred{
    &__container{
        width: 1200px;
    }
    &__title{
       margin-top: 45px;
    }
    &__title .title__p{
        color: #FFF;
        font-size: 65px;
        font-weight: 900;
    }
    &__cards{
        display: flex;
        align-items: center;
        gap:28px;
        margin-top: 70px;
    }
    &__card img{
      width: 300px;
    }
    &__card h4{
        font-size: 18px;
        font-weight: 700;
        color: #FFF;
    }
    &__card p{
        color: #F2F60F;
        font-size: 15px;
        font-weight: 500;
    }
<<<<<<< HEAD
=======

>>>>>>> f3fc186a7a0b0e6ce92aa5fe0e5faacca9326fd1
}