.expecred{
    &__container{
        width: 1200px;
    }
    &__title{
       margin-top: 45px;
    }
    &__title .title__p{
        color: #FFF;
        font-size: 65px;
        font-weight: 900;
    }
    &__cards{
        display: flex;
        align-items: center;
        gap:28px;
    }
    &
}