.now{
  &__lists{
    display: flex;
    column-gap: 20px;
  }
  &__navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-top: 60px;
    margin-bottom: 60px;
h2{
  font-size: 40px;
}
  }
  &__movies{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &__card{
    width: 280px;
    position: relative;
    h4{
      color: white;
      font-size: 24px;
    }
    h5{
      color: #F2F60F;
      font-size: 18px;
    }
    button{
      width: 36px;
      height: 22px;
      color: white;
      border: none;
      border-radius: 5px;
    }

    img{
      width: 100%;
    }
  }
}
.rategren{
  background: green;
}
.ratebrown{
  background: brown;
}
.ratewaitbrown{
  background: brown;
}
.ratewaitgreen{
  background: green;
}
.btn1{
  position: absolute;
  top: 10px;
  left: 0;
  border-radius: 5px;
}
.btn2{
  position: absolute;
  top: 10px;
  right: 0;
  border-radius: 5px;
}
.totop{
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
}